@use "../index.scss";

#page {
    font-size: 1.6rem;

    width: 100vw;

    display: grid;
    grid-template-rows: auto 1fr;

    text-shadow: none;

    button:not(.hamburger-button) {
        box-shadow: none !important;

        padding: 1.2rem;

        border-radius: 3vh;
    }
}


.displayer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    place-content: center;
    place-items: center;
    gap: 1rem;

    &.vertical {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }

    q {
        font-weight: bold;
        text-align: center;

        background-color: index.$main-colour;

        padding: 0.75rem;

        border-radius: 100vh;
    }
}

.break {
    width: 100%;

    padding-bottom: 1rem;

    border-bottom: 0.1rem solid index.$fore-colour;
}