@use "./index.scss";

body {
    font-size: 3rem !important;

    display: flex;
    place-content: center;
    place-items: center;

    background-image: index.$background-image;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: index.$box-shadow;

    overflow: hidden;

    &::before {
        $size: 100%;

        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: $size;
        height: $size;

        background-image: radial-gradient(transparent, black 100%);
        backdrop-filter: blur(0.5rem);

        z-index: -1;
    }

    button {
        position: relative;

        border-radius: 100vh;

        padding: 2rem;

        transition: 500ms transform ease;

        &:not(.icon, .hamburger-button) {
            box-shadow: index.$box-shadow;
        }

        &:not(:disabled):is(:hover, :focus) {
            transform: scale(1.1);
        }

        &:disabled {
            filter: contrast(80%) brightness(80%);
            cursor: auto;
        }

        a {
            $size: 100%;

            position: absolute;
            top: 0;
            left: 0;

            width: $size;
            height: $size;

            display: flex;
            place-content: center;
            place-items: center;
        }
    }
}

main {
    $padding: 4rem;

    width: calc(100vw - $padding * 2);
    min-height: calc(100vh - $padding * 2);

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 4rem;

    padding: $padding;

    >div {
        display: flex;
        place-content: center;
        place-items: center;
    }

    .icon {
        filter: drop-shadow(index.$box-shadow);

        transition: 500ms transform ease;

        &:is(:hover, :focus) {
            transform: scale(1.1);
        }
    }
}